[MESSAGES CONTROL]
# Disable the message, report, category or checker with the given id(s).
# C0103 - doesn't conform to snake_case naming style
# C0114/5/6 - Missing docstring
# W0105 - pointless-string-statement, disable it if you're using those strings as documentation, instead of comments.
disable=C0103,C0114,C0115,C0116,W0105

# Set same max. line length as with Flake8
max-line-length=127