# These are the requirements to be used during regression testing
mayavi
traits
traitsui
pyface
pyfmi
h5py
mpi4py
pytest-cov
psutil
pytables
pyyaml
matplotlib
mamba
pandas
openpyxl
jupyter
jupyter-book
flake8
pylint