# These are the dependencies and tools to be used during CI workflows.
# To install everything in batch mode, use:
# conda install -y -c conda-forge --file ./tests/requirements.txt
# Lodas Kernel core dependencies
matplotlib
numpy
scipy
psutil
h5py
pytables
pyyaml
pandas

# Extras
mpi4py
pyfmi
mayavi
traits
traitsui
pyface

# Regression tests
pytest
pytest-cov
jupyter
jupyter-book

# Coding style
flake8
pylint